@media screen and (max-width:768px){
    /* background img para el body */
    body {
        background-image: url(/images/background-circular2.png);
        background-size: contain;
        background-repeat: repeat;
    }

    /* header */
    .header{
        display: flex;
        align-items: center;
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 20;
        gap: 2rem;
    }

    .header h1{
        font-family: "Great Vibes", sans-serif;
    font-size: 2rem;
    color: rgb(182, 160, 37);
    }

    .header img{
        max-width: 4rem;
    }
    /* main */
    .form__canciones{
        width: 80vw;
        height: 590px;
        padding: 1rem 1rem ;
    }
    .formulario__btn{
        margin-bottom: 2rem;
    }
    .footer__nuestro{
        font-size: .6rem;
    }
    .footer__nuestro a{
        background: none;
        color: goldenrod;
    }
}