@media screen and (max-width:768px){
    /* background img para el body */
    body {
        background-image: url(/images/background3.png);
        background-size: contain;
        background-repeat: no-repeat;
    }

    /* header */
    .header{
        display: flex;
        align-items: center;
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 20;
        gap: 2rem;
    }

    .header h1{
        font-size: 2.05rem;
        font-family: "Great Vibes", sans-serif;
        color: rgb(55, 139, 55);
    }

    .header img{
        max-width: 4rem;
    }

    /* main */
    main{
        padding-top: 7rem;
        
    }

    .titulo__contador img{
        max-width: 333px;
    }

    .titulo__contador--titulo{
        font-size: 20px;
        color: rgb(55, 139, 55);
        font-weight: bolder;
    }
    .titulo__contador--titulo,.titulo__contador--contenido, .reloj{
        margin-bottom: 2rem;
    }
    .reloj{
        font-size: 1.5rem;
    }
    .fecha{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(../images/background-aj.png);
        padding: 1rem 0 2rem 0;
    }
    .fecha img{
        max-width: 80vw;
        overflow: hidden;
    }
    .fecha__btn{
        width: 4rem;
        margin-top: 2rem;
    }
    .ubicacion__ceremonia, .ubicacion__fiesta{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ubicacion__btn{
        margin-top: 2rem;
    }

    .horario__sect{
        background-image: url(../images/background-circular2.png);
        background-size: 100% 150%;
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: center;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div.horario{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }

    .horario__titulo, 
    .ubicacion__titulo,
     .ubicacion__fiesta,
     .asistencia__titulo,
    .horario, .ubicacion__ceremonia, .ubicacion__fiesta, .asistencia, .regalo, .canciones, .codigo__vestimenta{
        line-height: 1.7rem;
        padding: 1rem 0;
    }
    .codigo__vestimenta--img{
        display: flex;
        justify-content: center;
    }
    .carrusel img{
        width: 100vw;
    }
    .asistencia__titulo{
        line-height: 2rem;
    }
    .codigo__vestimenta--titulo{
        padding-bottom: 1rem;
    }
    .asistencia, .regalo, .canciones__contenido {
        margin: 4rem;
    }
    /* footer */

    footer {
        background-image: url(../images/background-aj.png);
    }

    .footer__titulo{
        padding: 2rem 0;
    }
    .footer_principal img{
        max-width: 90vw;
        margin-bottom: 2rem;
    }
    .footer__nuestro{
        font-size: .6rem;
    }
    .footer__nuestro a{
        background: none;
        color: goldenrod;
    }
}