@media screen and (max-width:768px){
    /* header */
    .header{
        display: flex;
        align-items: center;
        padding: 1rem 1rem;
    }
    .header h1{
        font-size: 2.05rem;
        
        font-family: "Great Vibes", sans-serif;
        color: rgb(55, 139, 55);
    }
    .header img{
        max-width: 100vw;
        width: 4rem;
        margin-right: 1rem;
    }
    /* main */
    .titulo__contador img{
        max-width: 100vw;
        margin-bottom: 2rem;
        overflow: hidden;
        
    }
    .titulo__contador--titulo{
        font-size: 20px;
        color: rgb(55, 139, 55);
        font-weight: bolder;
    }
    .titulo__contador--titulo,.titulo__contador--contenido, .reloj{
        margin-bottom: 2rem;
    }
    .reloj{
        font-size: 1.5rem;
    }
    .fecha{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .fecha img{
        max-width: 100vw;
        overflow: hidden;
    }
    .fecha__btn{
        width: 4rem;
        margin-top: 2rem;
    }
    .ubicacion__ceremonia, .ubicacion__fiesta{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ubicacion__btn{
        margin-top: 2rem;
    }
    .horario__titulo, 
    .ubicacion__titulo,
     .ubicacion__fiesta,
     .asistencia__titulo,

    .horario, .ubicacion__ceremonia, .ubicacion__fiesta, .asistencia, .regalo, .canciones, .codigo__vestimenta{
        line-height: 1.7rem;
        margin-bottom: 3rem;
    }
    .codigo__vestimenta--img{
        display: flex;
        justify-content: center;
    }
    .asistencia__titulo{
        line-height: 2rem;
        
    }
    .asistencia, .regalo, .canciones__contenido {
        margin: 4rem;
    }
    /* footer */
    .footer__titulo{
        margin-bottom: 2rem;
    }
    .footer_principal img{
        max-width: 90vw;
    }
    
}